.red {
  background-color: red;
}
.green {
  background-color: green;
}
.orange {
  background-color: Orange;
}
.blue {
  background-color: blue;
}
.pink {
  background-color: Pink;
}
.Black {
  background-color: red;
}
